<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <img src="../../../assets/perfil02.jpg"  class="img-fluid" alt="foto de perfil">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p id="name">Nadia Pisarello</p>
            <p id="puesto">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <span>
                <h2>Acerca de mí</h2>
                <p id="resume">mucho bla bla</p>
            </span>
        </div>
    </div>
</div>


