.row{
    padding: 20px;
}

div{
    text-align: center;
    /* font-family: 'Cambria', monospace; */
    /* background-color:  #f6e0b0; */
}

img{
    position: relative;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top: -65%;
    border: 2px solid white;
    box-shadow: 2px 2px 2px gray;
}

#name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;

}
