<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <img src="../../../assets/perfil02.jpg"  class="img-fluid" alt="foto de perfil">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <p id="name"> {{user.name}} {{user.lastname}}</p>
            <p id="puesto">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-8">
            <span>
                <h2>Acerca de mí</h2>
                <p id="resume">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Eveniet beatae unde magnam ullam
                    inventore porro minima officiis exercitationem.
                    Odit similique non adipisci cum aliquam eligendi
                    magni quis laborum incidunt tempore!</p>
            </span>
        </div>
    </div>
</div>


