<section *ngIf="profile">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-3 pb-4">
  
                <h2 class="fw-bold mb-3 text-uppercase">Edit About Me</h2>
  
                <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate >
                  <div class="form-outline form-white mb-3">
                    <input type="text" name="username" class="form-control form-control-lg"
                      [(ngModel)]="profile.name" required= />
                    <label class="form-label" for="name"> Name </label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="text" name="lastname" class="form-control form-control-lg"
                      [(ngModel)]="profile.lastname" requiered />
                    <label class="form-label" for="lastname">Lastname</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" name="position" class="form-control form-control-lg"
                      [(ngModel)]="profile.position" requiered />
                    <label class="form-label" for="position">Position</label>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <input type="text" name="description" class="form-control form-control-lg"
                      [(ngModel)]="profile.description" requiered />
                    <label class="form-label" for="description">Description</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="file" id="file" name="file" class="form-control form-control-lg"
                    [(ngModel)]="profile.image" (change)="selectFile($event)" accept=".jpg, .jpge, .png"/>
                    <!-- <button type="button" (click)="onUpload">Upload</button>   -->
                    <label class="form-label" for="description">Profile image</label>
                  </div>
                  <div>
                    <img [src]="uploadService.url" width="150px">
                  </div>
                  <br>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Update</button>
                </form>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>

