<section *ngIf="education">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-3 pb-4">
  
                <h2 class="fw-bold mb-2 text-uppercase">Edit Education</h2>
  
                <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate >
                  <div class="form-outline form-white mb-2">
                    <input type="text" id="title" name="title" class="form-control form-control-lg"
                      [(ngModel)]="education.title" required= />
                    <label class="form-label" for="userName"> Title </label>
                  </div>

                  <div class="form-outline form-white mb-5">
                    <input type="institution" id="institution" name="institution" class="form-control form-control-lg"
                      [(ngModel)]="education.institution" requiered />
                    <label class="form-label" for="institution">Institution</label>
                  </div>
  
                  <div class="form-outline form-white mb-5">
                    <input type="description" id="description" name="description" class="form-control form-control-lg"
                      [(ngModel)]="education.descriptionE" requiered />
                    <label class="form-label" for="description">Description</label>
                  </div>
  
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Update</button>
                </form>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
