<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Educación</h4>
    </div>
    <div class="row">
        <div class="ng-for-block" *ngFor="let Education of portfolio">
            <div class="mb-md-2 mt-md-1 pb-1"><h5> {{Education.title}} </h5></div>
            <div class="mb-md-2 mt-md-1 pb-1">{{Education.institution}}</div><br>
            <div class="mb-md-3 mt-md-2 pb-1">{{Education.descriptionE}}</div>

            <div *ngIf="_isLogged">
                <button class="btn btn-light" routerLink="/editExperience/{{Education.id}}">
                    <i class="bi bi-pencil-fill"></i> Edit</button>
                   
                <button class="btn btn-danger" (click)="delete(Education.id)">
                    <i class="bi bi-trash-fill"></i> Delete</button>
            </div>
        </div>
        <div class="row" *ngIf="_isLogged">
            <div>
                <form (ngSubmit)="onCreate($event)" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="title"> Título </label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="title" required>
                    </div>
                    <div class="form-group">
                        <label for="institution">Institución</label>
                        <input type="text" class="form-control" name="institution" [(ngModel)]="institution"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="descriptionE">Descripción</label>
                        <input type="text" class="form-control" name="descriptionE" [(ngModel)]="descriptionE"
                            required>
                    </div>
                    <button class="btn btn-primary mt-3">
                        Add Education
                    </button>
                </form>
            </div>
        </div>   
        😏💥🚀
    </div>
</div>
