<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Educación 1</h2>
                <h3>año</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                   Repellat reprehenderit, labore expedita dolore nesciunt illum
                   numquam animi, inventore, illo distinctio voluptate doloremque
                   amet praesentium eligendi temporibus dicta esse eius ut!
                </p>
            </li>
        </ul>
    </div>
</div>
