<app-header></app-header>
<app-about-me></app-about-me>

<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Experiencia Laboral</h4>
    </div>
    <app-work-xp></app-work-xp>
</div>

<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Educación</h4>
    </div>
    <app-education></app-education>
</div>

<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Hard and Soft Skills</h4>
    </div>
    <app-skill></app-skill>
</div>

<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Proyectos</h4>
    </div>
    <app-proyect></app-proyect>
</div>

<app-footer></app-footer>