<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Proyectos</h4>
    </div>
    <div class="row">
        <div *ngFor="let Proyect of portfolio">
            <div class="row">
                <div class="col-2"><h5> {{ Proyect.title }} </h5></div>
                <div class="col-7"> {{ Proyect.description }} </div>
                <div class="col-sm">
                    <a href={{Proyect.image}} target="_blank"> <img width="50px" src="../../../assets/internet.png"
                            alt="link proyecto"> </a>
                </div>
            </div>
            <div *ngIf="_isLogged">
                <button class="btn btn-light" routerLink="/editPoryect/{{Proyect.id}}">
                    <i class="bi bi-pencil-fill"></i> Edit</button>

                <button class="btn btn-danger" (click)="delete(Proyect.id)">
                    <i class="bi bi-trash-fill"></i> Delete</button>
            </div>
        </div>
        <div class="row" *ngIf="_isLogged">
            <div>
                <form (ngSubmit)="onCreate($event)" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="title">Nombre del Proyecto</label>
                        <input type="text" class="form-control" id="title" name="titlee" [(ngModel)]="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <input type="text" class="form-control" id="description" name="description"
                            [(ngModel)]="description" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Link Proyecto</label>
                        <input type="url" class="form-control" id="image" name="image" [(ngModel)]="image" required>
                    </div>
                    <button class="btn btn-primary mt-3">
                        Add Proyect
                    </button>
                </form>
            </div>
        </div>
        😏💥🚀
    </div>

</div>