<div class="container" *ngIf="jobXp">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="xp_name">Company name</label>
                <input type="text" class="form-control" id="xp_name" name="xp_name" [(ngModel)]="jobXp.xp_name" required>
            </div>
            <div class="form-group">
                <label for="xp_descrip">Position description</label>
                <input type="text" class="form-control" id="xp_descrip" name="xp_descrip" [(ngModel)]="jobXp.xp_descrip" required>
            </div>
            <button class="btn btn-dark">Update experience</button>
        </form>
    </div>
</div>
