<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newXp" *ngIf="isLogged">
            New Experience
        </button>
    </div>
    <div class="container">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experience of experience">
                    <td>{{ Experience.xp_name}}</td>
                    <td>{{ Experience.xp_descrip}}</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>